
body {
    background-image: url('background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    width: 100vw;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    margin: 0;
    user-select: none;
    overflow: auto;
}

#menu{
    display: flex;
    gap: 15px;
}

#card_border_front{
    --width_card: 300px;
    width: calc(var(--width_card));
    background-image: url('border_card.png');
    aspect-ratio: 61.8/88;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#card_border_back,
.back{
    --width_card: 300px;
    width: calc(var(--width_card));
    background-image: url('back_card.png');
    aspect-ratio: 61.8/88;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#zoomed_card_front {
    background-image: url('paperino_nel_mondo_della_matemagica.jpg');
    width: calc(var(--width_card));
    aspect-ratio: 61.8/88;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.1s ease-out;
    transform-style: preserve-3d;
    will-change: transform;
}

#short {
    height: 214px;
    bottom: 34px;
    position: relative;
}

#short_container {
    bottom: 113px;
    position: relative;
    left: 3px;
    overflow: hidden;
    height: 165px;
}

#DisneyAnthologyLogo {
    position: relative;
    width: 50px;
    bottom: 182px;
}

#disneyLogo {
    width: 28px;
    position: relative;
    bottom: 181px;
}

#shortName{
    position: relative;
    color: #d8b746bf;
    top: 180px;
    width: 115px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

#turnBTN img {width: 35px;}

.BTN {
  --😀: #644dff;
  --😀😀: #4836bb;
  --😀😀😀: #654dff63;
  cursor: pointer;
  width: 184px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: .75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transform: skew(-10deg);
  transition: all .1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));

}

.BTN:active{
    letter-spacing: 0px;
    transform: skew(-10deg) translateY(8px);
    box-shadow: 0 0 0 var(--😀😀😀);
}

#placeholder {
    width: 75px;
}                   

#controller {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}


#front_apprendista_stregone{
  background-image: url("front_apprendista_stregone.jpg");
  background-size: cover
}

#back_apprendista_stregone{
  background-image: url("back_apprendista_stregone.jpg");
  background-size: cover
}

.card{
    --width_card: 300px;
    width: calc(var(--width_card));
    aspect-ratio: 61.8/88;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
